body {
    background-color: rgb(176,176,176);
}
.header {
   
}
.footer {
    
}
#canvas {
    background-color: rgb(255,255,255);
}
.game-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.header .title {
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
}
.footer .title {
    text-align: center;
    font-family: fantasy;
    font-size: 1em;
}



